.invoice__input {
    padding: 4px 12px;

    &:focus-visible {
        border: none;
        outline: none;
    }
}

.units {
    max-width: 100px;
}

.purity__in__percentage {
    max-width: 162px;
}

.gross__weight {
    max-width: 130px;
}
