@import '../../styles/variables.scss';

.invoice__input {
    padding: 4px 12px;

    &:focus-visible {
        outline: none;
    }

    &.with__border {
        border: $inputBorder;
        border-radius: 4px;
    }
}

.units {
    max-width: 100px;
}

.purity__in__percentage {
    max-width: 170px;
}

.gross__weight {
    max-width: 141px;
}
