.item__rows__container {
    .item__rows__header {
        grid-template-columns: auto 1.5fr auto auto auto auto 1fr;
        // grid-template-columns: 60px 240px 97px 115px 162px 131px 1fr;

        > * {
            &:not(:last-child) {
                border-right: 1px solid;
                border-bottom: 1px solid;
            }
        }
        .header__span {
            background-color: red;

            padding: 4px;

            &.ornament__list {
                flex-basis: 25%;
            }
        }

        .total__text {
            grid-column-start: span 2;
        }
    }

    .totals__row {
        // grid-template-columns: 60px 240px 97px 115px 162px 131px 1fr;
    }
}
