@import '/src/styles/variables.scss';

.item__rows__container {
    padding-block-start: 25px;

    .item__rows__header {
        // grid-template-columns: auto 1.5fr auto auto auto auto 1fr;
        grid-template-columns: 60px 240px 97px 115px 162px 131px 1fr;

        > * {
            border-bottom: 1px solid $primaryBorderColor;
            border-right: 1px solid $primaryBorderColor;
            padding: 4px 12px;
        }
        .header__span {
            background-color: $primaryShadeColor;
            font-weight: bold;
            border-top: 1px solid $primaryBorderColor;

            &:first-child {
                border-left: 1px solid $primaryBorderColor;
            }
            &.ornament__list {
                flex-basis: 25%;
            }
        }

        .total__text {
            grid-column-start: span 2;
        }
    }

    .totals__row__container {
        max-width: 300px;
        margin-left: auto;
        > div {
            display: grid;
            grid-template-columns: auto 100px;
            padding: 4px 12px;
        }
        // grid-template-columns: 60px 240px 97px 115px 162px 131px 1fr;
    }
}
