@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/variables.scss';

body,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $textColor;
}

body {
    border: 2px solid #d6d6d6;
    background-color: #f8f8f8;
    font-family: var(--mona-sans-regular);
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

strong {
    font-family: var(--mona-sans-bold);
}
main {
    max-width: 1080px;
    margin: 0 auto;
    padding: 30px;
    background-color: $white;
    border-radius: $borderRadius;
}

textarea {
    padding: $inputPadding;
    border: $inputBorder;
    border-radius: 4px;

    &:focus-visible {
        // border: none;
        outline: none;
    }
}

button,
[type='button'] {
    padding: 12px 24px;
    background: $primaryShadeColor;
    color: $primaryColor;
    border-radius: 24px;
    font-weight: bold;
    margin-block-start: 20px;
}
.gold__rate__container {
    padding-block: 25px;
    border-bottom: 1px solid lightblue;
    input {
        text-align: center;
        width: 75px;
        font-weight: bold;
        padding: 0;
    }
}

.address__ornament__container {
    padding-block: 25px;
}

.customer__declaration__container {
    padding-block: 25px;
    margin-block-start: 25px;
    border-top: 1px solid lightblue;
}

.sidebar__toggle__button {
    position: fixed;
    left: 0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.378);
}

.sidebar__container {
    background: white;
    min-width: 350px;

    > div {
        padding: 15px;
    }
    .sidebar__form__container > {
        div {
            display: flex;
            flex-direction: column;
            margin-block-end: 20px;
            gap: 5px;
        }
    }
}
